* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #e2e5e8;
    background-image: linear-gradient(98deg, #e2e5e8 0%, #ffffff 100%);
    padding-top: 20px; /* Added padding to ensure the shadow is visible */
}

.navContainer {
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    width: 100%;
    overflow-x: hidden;
}

#navList {
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brandName {
    font-size: 2.5rem;
    color: azure;
}

#navItems a {
    text-decoration: none;
    margin: 0 10px;
    color: azure;
}

footer {
    width: 100%;
}

.footerBox {
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    color: azure;
    width: 100%;
    text-align: center;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox {
    width: 80%;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    padding-left: 40px;
    box-shadow: 0px 0px 30px black;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.leftBox {
    flex: 1;
}

.rightBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s 0s;
    position: relative;
    overflow: hidden;
}

.rightBox:hover {
    transform: scale(1.04);
}

.rightBox img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.rightBox:hover .overlay {
    opacity: 1;
}

.ingredients {
    margin-bottom: 20px;
}
